RewriteEngine on

# Exclure les fichiers statiques (CSS, JS, images) des règles de réécriture
RewriteCond %{REQUEST_URI} !\.(?:css|js|png|jpg|jpeg|gif|svg|webp)$ [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php [QSA,L]


